.Filterbody{
    display: flex;
    justify-content: center;
    
}

.container{
    color:white;
    width:70%
}

body{
    padding-top: 5%;
    font-family: 'Akshar', sans-serif;
    font-size:larger;
    line-height: 1.8;
}

#Sol{
    padding-top: 5%;
    padding-bottom: 2%;
    font-family: 'Akshar', sans-serif;
    font-size:larger;
   
}

.title{
    display: flex;
    justify-content: center;
    padding-top: 4%;
    padding-bottom: 2%
}

.row{
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn{
    padding-left:10%;
    padding-right:10%;
    width: 250px;
}

.col-sm{
    display: flex;
    justify-content: center;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-image: linear-gradient( 110.1deg,  rgba(30,2,83,1) 44.2%, rgba(198,55,160,1) 138.2% )!important;
    border: none;
   
}

.btn-primary:hover{
    background-color: #cdb9e6 !important;
    box-shadow:
    inset 0 0 10px #fff,      /* inner white */
    inset 20px 0 80px rgb(73, 0, 73),   /* inner left */
    inset -20px 0 80px rgb(0, 79, 79),  /* inner right  */
    inset 20px 0 300px #f0f,  /* inner left magenta broad */
    inset -20px 0 300px #0ff, /* inner right cyan broad */
    0 0 20px #fff,            /* outer white */
    -5px 0 50px #f0f,        /* outer left magenta */
    5px 0 50px #0ff;         /* outer right cyan */
}

.btn:focus,.btn:active {
    outline-color: white !important;
    box-shadow: inset 0 0 10px #fff,      
    inset 20px 0 80px rgb(73, 0, 73),  
    inset -20px 0 80px rgb(0, 79, 79),  
    inset 20px 0 300px #f0f,  
    inset -20px 0 300px #0ff, 
    0 0 20px #fff,          
    -5px 0 50px #f0f,        
    5px 0 50px #0ff;         
 }

#CButtonActive,#OButtonActive,ButtonActive{
    outline-color: white !important;
    box-shadow: inset 0 0 10px #fff,      
    inset 20px 0 80px rgb(73, 0, 73),  
    inset -20px 0 80px rgb(0, 79, 79),  
    inset 20px 0 300px #f0f,  
    inset -20px 0 300px #0ff, 
    0 0 20px #fff,          
    -5px 0 50px #f0f,        
    5px 0 50px #0ff; 
}

 .card{
     width:80%;
     height:fit-content;
     margin: auto;
     background-image: linear-gradient( 110.1deg,  rgba(30,2,83,1) 44.2%, rgba(198,55,160,1) 138.2% );
     border: none; 
     border-radius: 8px;  
 }

 .card:hover{
    background-color:#7605a7b8;
    border: none;
    box-shadow:inset 0 0 10px #fff,
    0 0 10px #fff,
    -2px 0 8px #0ff,
    2px 0 8px #0ff;
    
}
 .selectcam{
    display: flex;
    justify-content: center;
    padding-top: 4%;
    padding-bottom: 2%
}

.cardContent{
    padding:4%; 
    margin-left: 5%;
  
}

